<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miner.update" >

    <!-- 在 Android 8.0 中，安装未知应用权限提高了安装未知来源应用时的安全性 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>

        <activity
            android:name=".ui.UpdateActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />


        <receiver android:name=".DownLoadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>

            </intent-filter>

        </receiver>

    </application>

</manifest>
